/target
.env

# Local .terraform directories
**/*.terraform/*
terraform/.terraform.lock.hcl
.tfstate files
*.tfstate
*.tfstate.*
../..
k8s/aws-secrets_copy.yaml
terraform/azure/.terraform
terraform/azure/.terraform.lock.hcl
